---
// src/pages/index.astro
import BarChart from "../components/sections/BarChart.astro";
import "../styles/tailwind.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AFT Advanced Graph Generator</title>
  </head>
  <body>
    <main>
      <BarChart />
    </main>
  </body>
</html>
