---
interface Props {
  description: string;
  class?: string;
}

const { description, class: className = "" } = Astro.props;
---

<p
  class:list={[
    "text-xs",
    "font-semibold",
    "text-black",
    "leading-tight",
    className,
  ]}
>
  {description}
</p>
