---
interface Props {
  title: string;
  description: string;
  class?: string;
}

const { title, description, class: className = "" } = Astro.props;
---

<div class:list={["w-full", className]}>
  <h3 class:list={["font-bold", "text-xl", "text-black"]}>
    {title}
  </h3>
  <p class:list={["font-semibold", "text-black", "leading-tight"]}>
    {description}
  </p>
</div>
