---
interface Props {
  title: string;
  color: string;
  class?: string;
}

const { title, color, class: className = "" } = Astro.props;
---

<h3 class:list={["font-bold", "text-sm",className, color]}>
  {title}
</h3>
